<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">
</head>
<body>
    <header>
        <!-- хедер -->
    </header>
    <div class="content">
        @RenderBody()
    </div>
    <footer>
        <!-- футер -->
    </footer>
    <script src="~/js/script.js"></script>
</body>
</html>
